---
import BaseLayout from "../layouts/BaseLayout.astro";
import { dbClient } from "flat-file-cms/utils";

const posts = (await dbClient.listPosts()).filter((post) => post.hasPublished);
---

<BaseLayout title="Michaels Blog Übersicht" description="" permalink={Astro.site.href + "blog"}>
  <h1>Blog Übersicht</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={"/blog/" + post.slug}>{post.fileName}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
