<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS Anmeldung</title>
  </head>
  <body>
    <h1>CMS Anmeldung</h1>
    <p>Lege hier einen Admin-Account an.</p>
    <form>
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" />
      <label for="password">Passwort</label>
      <input type="password" id="password" name="password" />
      <label for="Name">Name</label>
      <input type="text" name="name" id="name" />
      <input type="submit" />
    </form>
    <script type="module">
      const form = document.querySelector('form');
      form.addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(form);

        if (!formData.get('email')) return;
        else if (!formData.get('password')) return;

        fetch('/admin/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'same-origin',
          body: JSON.stringify(Object.fromEntries(formData.entries()))
        }).then((res) => console.log('res', res));
      });
    </script>
  </body>
</html>
