---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Michaels Blog Übersicht"
  description=""
  permalink={Astro.site.href + 'blog'}
>
  <h1>Blog Übersicht</h1>
</BaseLayout>
