---
import BaseLayout from "../layouts/BaseLayout.astro";
import TwoColumn from "../components/TwoColumn.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} permalink={Astro.site.href}>
  <TwoColumn>
    <div slot="left">
      <h1 class="headline">Michaels Blog</h1>
      <p class="copy font-size-big">
        Moin! Moin! Ich bin Michael und schreibe hier über Gesundheit, Politik und Fotografie.
      </p>
    </div>
    <div slot="right">
      <img class="image" src="/michael-kozalla-photo-kunst.jpeg" alt="Michael vor zwei seiner schönsten Fotografien" />
    </div>
  </TwoColumn>
  <style>
    .headline {
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 1rem;
    }
    .headline::after {
      content: "!";
      font-size: 5rem;
      font-weight: 900;
      color: #ff205e;
    }

    .image {
      transform: rotate(-2deg);
      border-radius: 12px;
    }

    div:last-child {
      position: relative;
    }

    div:last-child::after {
      content: " ";
      border: 4px dashed #ff205e;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 12px;
      transform: rotate(1deg);
    }

    @media (max-width: 560px) {
      .headline {
        font-size: 4rem;
      }
    }
  </style>
</BaseLayout>
