* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
}

input {
  font-size: inherit;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1.2rem;
}

button, a {
  border-radius: 4px;
  color: #fff;
  border: none;
  background-color: #3700B3;
  width: 256px;
  height: 48px;
  letter-spacing: 1px;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 46px;
}

button:active,
button:focus, a:active, a:focus {
  outline: 1px solid #3700B3;
  outline-offset: 1px;
}

button:disabled {
  cursor: not-allowed;
}

a.ghost {
  background-color: transparent;
  color: #3700B3;
  border: 1px solid #3700B3;
}
a.text {
  display: inline;
  border: none;
  background-color: initial;
  text-decoration: underline;
  color: #3700B3;
}