---
import '../../styles/admin.css';
import Notification from '../../components/admin/Notification.astro';
import { getPost } from '../../lib/db-client';
import FrontMatter from '../../components/admin/FrontMatter.astro';
import { authenticationHandler } from '../../lib/admin/auth';
import { parseCookies } from '../../lib/admin/helpers';

const cookies = Astro.request.headers.get('cookie');
const { isValid } = await authenticationHandler(parseCookies(cookies));

if (!isValid) {
  return Astro.redirect('/admin/login');
}

const slug = Astro.params.post.toString();
const { post, error } = await getPost(slug);

if (error !== null) {
  console.log(error);
  return Astro.redirect('/admin', 307);
}
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artikel bearbeiten - Michaels Blog</title>
    <link rel="stylesheet" href="https://unpkg.com/bytemd/dist/index.css" />
    <script is:inline>
      window.process = {
        env: 'production'
      };
    </script>
    <script is:inline src="https://unpkg.com/bytemd"></script>
  </head>

  <body>
    <FrontMatter frontmatter={post.frontMatter} />
    <div id="editor-controls">
      <button id="draft" data-draft="true">Entwurf speichern</button>
      <button id="publish">Veröffentlichen</button>
    </div>
    <div id="markdown-editor"></div>
    <Notification
      id="success"
      headline="Hurraa!"
      body="Die Aktion war erfolgreich :D"
      cta="Weiter"
    />
    <script is:inline define:vars={{ post, slug }}>
      window.post = post;
      const editor = new bytemd.Editor({
        target: document.getElementById('markdown-editor'),
        props: {
          value: post.markdown
        }
      });

      editor.$on('change', (e) => {
        post.markdown = e.detail.value;
        editor.$set({ value: e.detail.value });
      });

      const editorControls = document.getElementById('editor-controls');
      editorControls.addEventListener('click', (e) => {
        e.target.disabled = true;
        const route = `/api/admin/posts/${slug}${
          e.target.dataset.draft ? '?draft' : ''
        }`;

        fetch(route, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            markdown: window.post.markdown,
            frontMatter: window.post.frontMatter
          })
        }).then((response) => {
          if (response.status === 201) {
            // show notification
            success.style.display = 'block';
          }
          e.target.disabled = false;
        });
      });
    </script>
    <style>
      body {
        font-family: sans-serif;
      }

      #editor-controls {
        margin-bottom: 24px;
      }

      #frontmatter span[id$='-display'] {
        background-color: lightgrey;
        border-radius: 4px;
        margin-right: 8px;
        padding: 4px 8px;
      }

      #form {
        margin: 24px 0;
      }

      #form label {
        text-transform: capitalize;
        font-size: 1.2rem;
      }

      #form label + input {
        margin: 0 12px;
      }
    </style>
  </body>
</html>
