---
import "../../styles/admin.css";
import { dbClient, authenticationHandler, helpers } from "blog-backend";

const cookies = Astro.request.headers.get("cookie");
const { isValid, email } = await authenticationHandler(helpers.parseCookies(cookies));

if (!isValid) {
  return Astro.redirect("/admin/login");
}

const users = await dbClient.getUsers();
const name = helpers.getUser(email, users).split(";")[2] || "Anonymous";
const posts = await dbClient.listPosts();
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Admin Dashboard - Michaels Blog</title>
  </head>
  <body>
    <main>
      <h1>Willkommen {name}</h1>
      <p>Schön, dass du da bist!<br />Hier ist eine Liste deiner Artikel:</p>
      <ul>
        {
          posts.map((post) => (
            <li style="margin-bottom: 12px">
              {post.fileName}
              <a class="ghost edit-link" href={"/admin/" + post.slug}>
                Bearbeiten
              </a>
              <a class="ghost edit-link" href={"/admin" + post.slug + "?draft"}>
                Entwurf bearbeiten
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <aside>
      <h2>Quick Pick</h2>
      <div class="new-post">
        <a href="/admin/posts/new" class="new-post">Neuer Artikel</a>
      </div>
    </aside>
    <style>
      body {
        display: flex;
      }

      main {
        flex: 3 1 60%;
      }

      aside {
        flex: 1 2 30%;
        padding: 12px;
        border: 2px solid lightgray;
        border-radius: 6px;
      }

      .edit-link {
        width: fit-content;
        padding: 0 8px;
        height: 32px;
        line-height: 28px;
      }
    </style>
  </body>
</html>
